<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.edi.mapper.TestMapper">
  <resultMap id="BaseResultMap" type="com.jd.edi.entity.Test">
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="bu_name" jdbcType="VARCHAR" property="buName" />
    <result column="proj_name" jdbcType="VARCHAR" property="projName" />
    <result column="proj_id" jdbcType="BIGINT" property="projId" />
    <result column="proj_level" jdbcType="VARCHAR" property="projLevel" />
    <result column="proj_time" jdbcType="VARCHAR" property="projTime" />
    <result column="proj_status" jdbcType="VARCHAR" property="projStatus" />
    <result column="repo_name" jdbcType="VARCHAR" property="repoName" />
    <result column="repo_url" jdbcType="VARCHAR" property="repoUrl" />
    <result column="repo_time" jdbcType="VARCHAR" property="repoTime" />
    <result column="active" jdbcType="VARCHAR" property="active" />
    <result column="branch_size" jdbcType="INTEGER" property="branchSize" />
    <result column="total_commit" jdbcType="BIGINT" property="totalCommit" />
    <result column="statistic_month" jdbcType="VARCHAR" property="statisticMonth" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    code, bu_name, proj_name, proj_id, proj_level, proj_time, proj_status, repo_name, 
    repo_url, repo_time, active, total_commit
  </sql>
  
  <select id="selectErrorDatas" parameterType="com.jd.edi.entity.Test" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_test
    where 1=1 and (branch_size = -1 or total_commit = -1)
  </select>
  
  <select id="selectByExample" parameterType="com.jd.edi.entity.TestExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_test
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.jd.edi.entity.TestExample">
    delete from t_test
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jd.edi.entity.Test">
    insert into t_test (code,bu_name, proj_name, proj_id, 
      proj_level, proj_time, proj_status, 
      repo_name, repo_url, repo_time, 
      active, branch_size, total_commit, statistic_month, create_time)
    values (#{code,jdbcType=VARCHAR}, #{buName,jdbcType=VARCHAR}, #{projName,jdbcType=VARCHAR}, #{projId,jdbcType=BIGINT}, 
      #{projLevel,jdbcType=VARCHAR}, #{projTime,jdbcType=VARCHAR}, #{projStatus,jdbcType=VARCHAR}, 
      #{repoName,jdbcType=VARCHAR}, #{repoUrl,jdbcType=VARCHAR}, #{repoTime,jdbcType=VARCHAR}, 
      #{active,jdbcType=VARCHAR}, #{branchSize,jdbcType=INTEGER}, #{totalCommit,jdbcType=BIGINT}, #{statisticMonth,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insert" parameterType="com.jd.edi.entity.Test">
    insert into t_test (code,bu_name, proj_name, proj_id,
                        proj_level, proj_time, proj_status,
                        repo_name, repo_url, repo_time,
                        active, branch_size, total_commit, statistic_month, create_time)
    values
    <if test="list!=null  and list.size() >0">
      <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
        (#{item.code,jdbcType=VARCHAR}, #{item.buName,jdbcType=VARCHAR}, #{item.projName,jdbcType=VARCHAR}, #{item.projId,jdbcType=BIGINT},
        #{item.projLevel,jdbcType=VARCHAR}, #{item.projTime,jdbcType=VARCHAR}, #{item.projStatus,jdbcType=VARCHAR},
        #{item.repoName,jdbcType=VARCHAR}, #{item.repoUrl,jdbcType=VARCHAR}, #{item.repoTime,jdbcType=VARCHAR},
        #{item.active,jdbcType=VARCHAR}, #{item.branchSize,jdbcType=INTEGER}, #{item.totalCommit,jdbcType=BIGINT}, #{item.statisticMonth,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP})
      </foreach>
    </if>

  </insert>

  <insert id="insertSelective" parameterType="com.jd.edi.entity.Test">
    insert into t_test
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="buName != null">
        bu_name,
      </if>
      <if test="projName != null">
        proj_name,
      </if>
      <if test="projId != null">
        proj_id,
      </if>
      <if test="projLevel != null">
        proj_level,
      </if>
      <if test="projTime != null">
        proj_time,
      </if>
      <if test="projStatus != null">
        proj_status,
      </if>
      <if test="repoName != null">
        repo_name,
      </if>
      <if test="repoUrl != null">
        repo_url,
      </if>
      <if test="repoTime != null">
        repo_time,
      </if>
      <if test="active != null">
        active,
      </if>
      <if test="totalCommit != null">
        total_commit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="buName != null">
        #{buName,jdbcType=VARCHAR},
      </if>
      <if test="projName != null">
        #{projName,jdbcType=VARCHAR},
      </if>
      <if test="projId != null">
        #{projId,jdbcType=BIGINT},
      </if>
      <if test="projLevel != null">
        #{projLevel,jdbcType=VARCHAR},
      </if>
      <if test="projTime != null">
        #{projTime,jdbcType=VARCHAR},
      </if>
      <if test="projStatus != null">
        #{projStatus,jdbcType=VARCHAR},
      </if>
      <if test="repoName != null">
        #{repoName,jdbcType=VARCHAR},
      </if>
      <if test="repoUrl != null">
        #{repoUrl,jdbcType=VARCHAR},
      </if>
      <if test="repoTime != null">
        #{repoTime,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        #{active,jdbcType=VARCHAR},
      </if>
      <if test="totalCommit != null">
        #{totalCommit,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jd.edi.entity.TestExample" resultType="java.lang.Long">
    select count(*) from t_test
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_test
    <set>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.buName != null">
        bu_name = #{record.buName,jdbcType=VARCHAR},
      </if>
      <if test="record.projName != null">
        proj_name = #{record.projName,jdbcType=VARCHAR},
      </if>
      <if test="record.projId != null">
        proj_id = #{record.projId,jdbcType=BIGINT},
      </if>
      <if test="record.projLevel != null">
        proj_level = #{record.projLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.projTime != null">
        proj_time = #{record.projTime,jdbcType=VARCHAR},
      </if>
      <if test="record.projStatus != null">
        proj_status = #{record.projStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.repoName != null">
        repo_name = #{record.repoName,jdbcType=VARCHAR},
      </if>
      <if test="record.repoUrl != null">
        repo_url = #{record.repoUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.repoTime != null">
        repo_time = #{record.repoTime,jdbcType=VARCHAR},
      </if>
      <if test="record.active != null">
        active = #{record.active,jdbcType=VARCHAR},
      </if>
      <if test="record.totalCommit != null">
        total_commit = #{record.totalCommit,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_test
    set code = #{record.code,jdbcType=VARCHAR},
      bu_name = #{record.buName,jdbcType=VARCHAR},
      proj_name = #{record.projName,jdbcType=VARCHAR},
      proj_id = #{record.projId,jdbcType=BIGINT},
      proj_level = #{record.projLevel,jdbcType=VARCHAR},
      proj_time = #{record.projTime,jdbcType=VARCHAR},
      proj_status = #{record.projStatus,jdbcType=VARCHAR},
      repo_name = #{record.repoName,jdbcType=VARCHAR},
      repo_url = #{record.repoUrl,jdbcType=VARCHAR},
      repo_time = #{record.repoTime,jdbcType=VARCHAR},
      active = #{record.active,jdbcType=VARCHAR},
      branch_size = #{record.branchSize,jdbcType=INTEGER},
      total_commit = #{record.totalCommit,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>